 /* ---- 💫 https://github.com/LinuxBeginnings 💫 ---- */  
 /* wallust template - colors-rofi */

* {
test: #afafaf;

active-background: #220F0F;
active-foreground: #D7AEB2;
normal-background: #141010;
normal-foreground: #D7AEB2;
urgent-background: #6A141D;
urgent-foreground: #D7AEB2;

alternate-active-background: #1A0F0E;
alternate-active-foreground: #D7AEB2;
alternate-normal-background: #141010;
alternate-normal-foreground: #D7AEB2;
alternate-urgent-background: #141010;
alternate-urgent-foreground: #D7AEB2;

selected-active-background: #6A141D;
selected-active-foreground: #D7AEB2;
selected-normal-background: #6A141D;
selected-normal-foreground: #D7AEB2;
selected-urgent-background: #6A141D;
selected-urgent-foreground: #D7AEB2;

background-color: #141010;
background: rgba(0,0,0,0.7);
foreground: #da8002;
border-color: #220F0F;
text: #1e63b3;

color0: #3C3838;
color1: #170908;
color2: #140B0A;
color3: #140B0B;
color4: #190B0C;
color5: #4F0F16;
color6: #6A111B;
color7: #BE8389;
color8: #855B60;
color9: #1E0B0A;
color10: #1B0E0E;
color11: #1A0F0E; //drun outline
color12: #6A111B; //option highlight
color13: #762127;
color14: #8E1724;
color15: #BE8389;


}

